
#body {
  background-size:cover;
  height:100vh;
  background-position: center;
  text-shadow: 0 1px 5px rgba(0,0,0,.1)
}

#quote {
  color: white;
  text-align: center;
}

#weather {
  display: flex;
  justify-content: flex-end;
  color: white;
}

#todo {
  color: white;
  font-weight: 300;
}